header, footer {
    text-align: center;
    font: 1.2em "Fira Sans", sans-serif;
}

body {
    font: 1em "Fira Sans", sans-serif;
    padding: 60px;
}

/* .thing {
    font: .2em "Fira Sans", sans-serif;
    color: blue;
} */


/* 
h1 {
    font: 
} */