header, footer {
    text-align: center;
    font: 1.2em "Fira Sans", sans-serif;
}

img {
    display: block;
    width: auto;
    height: auto;
    /* width: 200px; */
    max-width: 1%;
    max-height: 1%;
    /* margin: 20px auto; */
}

body {
    font: 1em "Fira Sans", sans-serif;
    padding: 60px;
    color: #34515E;
    background: #FFD9A8;
} 
